@import url('https://fonts.googleapis.com/css?family=Katibeh');
@import url('https://fonts.googleapis.com/css?family=Amarante');
@import url('https://fonts.googleapis.com/css?family=Architects Daughter');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    margin: 0;
}



html{
    scroll-behavior: smooth;
}

.section-padding{
    padding: 100px 0;
}

.section-header{
    padding-bottom: 30px;
}



.navbar-brand{
    position: relative;
    top: 3.5%;
    left: 0%;
    color: rgba(163, 159, 156, 0.76) !important;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-area{
    background: #262626;
    background-color: rgba(58, 55, 53, 0.76);
}

.navbar-nav .nav-link{

    color: rgb(190, 183, 183) !important;
    font-weight: bold;
}

.nav-item{
    color: rgba(58, 55, 53, 0.76);
    padding: 0 10px;
    text-transform: uppercase;
}

/*slider-area*/

.slider-area{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("img/bg.png");
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("img/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    height: 100vh;
    position: relative;
}

.slider-area::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}

.slider-text h1{
    font-size: 60px;    
}

.slider-text{
    text-align: center;
    color: #fff;
    padding-top: 25%;
    font-weight: bold;  
    font-family: Architects Daughter;
}


/*about-area*/

.about-area{
    background: #262626;
}

.about-img img{
    width: 100%;    
}

.about-heading{
    color: #fff;
    text-align: center;
    padding-top: 0;
}

.cont{
    color: #fff;
    text-decoration: underline;
}

.item-text{
    font-size: 1.2em;
    color: #fff;
    padding-top: 20px;
    padding-left: 10px;
}

.about-img{
    padding-right: 0 20px 0 20px;
    width: 400;
    
}

.mx-auto{
    border-radius: 50%;
}

.profile-item {
    padding: 0px 0 0px 0;
    cursor: pointer;
}

.profile-item-icon {
    color: #fff;
    padding: 10px 10px 15px 10px;
    text-align: center;
    
}

.profile-item:hover .profile-item-icon {
    color: #fff;
    background-color: #fff;
}

#education{
    background-color: #3be6c9;
}

.edu-heading{
    text-align: center;
    padding-bottom: 30px;;
    text-transform: uppercase;
    font-weight: bold;
}

.card{
    background: #dde5e6;
    
}

.card-body{
    background-color: #e2e7e7;
    
}

#skills{
    background: #eaf1f1;
}

.skill-item {
    padding: 20px 0 15px 0;
    cursor: pointer;
}

.skill-item-icon {
    color: #3be6c9;
    height: 120px;
    width: 120px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    font-size: 5rem;
    margin: auto;
}

.skill-item:hover .skill-item-icon {
    color: #fff;
    background-color: #3be6c9;
}



  .middle{
    position: absolute;
    top: 95%;
    left: -50;
    width: 100%;
    text-align: center;
  }
  .btn{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #c9bfbf;
    margin: 15px;
    border-radius: 30%;
    box-shadow: 0 5px 15px 10px #00000070;
    color: #000000;
    overflow: hidden;
    position: relative;
  }
  .btn i{
    line-height: 40px;
    font-size: 26px;
    transition: 0.3s linear;
  }
  .btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
  }
  .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  .btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  @keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
  }
  






