@import url('https://fonts.googleapis.com/css?family=Katibeh');
@import url('https://fonts.googleapis.com/css?family=Amarante');
@import url('https://fonts.googleapis.com/css?family=Architects Daughter');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    margin: 0;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_1.gif) center no-repeat #fff;
}

html{
    scroll-behavior: smooth;
}

.section-padding{
    padding: 100px 0;
}

.section-header{
    padding-bottom: 30px;
}



.navbar-brand{
    position: relative;
    top: 3.5%;
    left: 0%;
    color: rgba(163, 159, 156, 0.76) !important;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-area{
    background: #262626;
    background-color: rgba(58, 55, 53, 0.76);
}

.navbar-nav .nav-link{

    color: rgb(190, 183, 183) !important;
    font-weight: bold;
}

.nav-item{
    color: rgba(58, 55, 53, 0.76);
    padding: 0 10px;
    text-transform: uppercase;
}

/*slider-area*/

.slider-area{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("img/bg.png");
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("img/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    height: 100vh;
    position: relative;
}

.slider-area::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}

.slider-text h1{
    font-size: 60px;    
}

.slider-text{
    text-align: center;
    color: #fff;
    padding-top: 25%;
    font-weight: bold;  
    font-family: Architects Daughter;
}


/*about-area*/



.about-area{
    background: #262626;
}

.about-img img{
    width: 100%;    
}

.about-heading{
    color: #fff;
    text-align: center;
    padding-top: 0;
}

.cont{
    color: #fff;
    text-decoration: underline;
}

.item-text{
    font-size: 1.2em;
    color: #fff;
    padding-top: 20px;
    padding-left: 10px;
}

.about-img{
    padding-right: 0 20px 0 20px;
    width: 400;
}

.mx-auto{
    border-radius: 50%;
}

.profile-item {
    padding: 0px 0 0px 0;
    cursor: pointer;
}

.profile-item-icon {
    color: #fff;
    padding: 10px 10px 15px 10px;
    text-align: center;
    
}

.profile-item:hover .profile-item-icon {
    color: #fff;
    background-color: #fff;
}

#education{
    background-color: #3be6c9;
}

.edu-heading{
    text-align: center;
    padding-bottom: 30px;;
    text-transform: uppercase;
    font-weight: bold;
}

.card{
    background: #dde5e6;
    
}

.card-body{
    background-color: #e2e7e7;
    
}

#skills{
    background: #eaf1f1;
}

.skill-item {
    padding: 20px 0 15px 0;
    cursor: pointer;
}

.skill-item-icon {
    color: #3be6c9;
    height: 120px;
    width: 120px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    font-size: 5rem;
    margin: auto;
}

.skill-item:hover .skill-item-icon {
    color: #fff;
    background-color: #3be6c9;
}









